h1 {
  color: orange;
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 58px;
  margin: 0 0 58px;
}
p {
  color: cadetblue;
  font-family: "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-indent: 30px;
  margin: 0;
}
a {
  color: #fe921f;
  text-decoration: underline;
}
a:hover {
  color: #ffffff;
}

header {
  background-image: url("https://www.visitnsw.com/sites/visitnsw/files/styles/header_slider/public/2018-01/Header%20-%20Sun%20rising%20over%20Shelly%20Beach%20on%20the%20Central%20Coast.jpg?itok=qAMpscZc");
  height: 300px;
  font-size: 68px;
  color: cadetblue;
  text-align: center;
}
