h2 {
  color: orange;
  font-family: Give You Glory, cursive;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}
p {
  color: cadetblue;
  font-family: "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-indent: 30px;
  padding-bottom: 10px;
}
a {
  color: #fe921f;
  text-decoration: underline;
}
a:hover {
  color: #ffffff;
}

header {
  background-image: url("https://www.visitnsw.com/sites/visitnsw/files/styles/header_slider/public/2018-01/Header%20-%20Sun%20rising%20over%20Shelly%20Beach%20on%20the%20Central%20Coast.jpg?itok=qAMpscZc");
  height: 300px;
  margin: -20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
  font-size: 68px;
  color: cadetblue;
  text-align: center;
  text-shadow: 3px 2px white;
  vertical-align: middle;
}

input[type="text"] {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  padding: 0 20px;
  width: 315px;
  margin: 5px;
  border-color: cadetblue;
}

button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background-color: orange;
  margin: 10px;
  color: white;
}

label {
  display: inline-block;
  width: 75px;
  text-align: left;
}

form {
  height: 100px;
  width: 500px;
}

.column {
  float: left;
  position: relative;
  width: 50%;
  max-width: 300px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.column:hover .overlay {
  opacity: 1;
}
